#root {
  width: 100%;
}
body
{	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
  background: #111;
}
body *{
  color: #fff;
}
.app {
  margin: 0;
  	padding: 0;
  	display: flex;
  	justify-content: center;
}
.choices {
	background: #ccc;
	padding: 30px;
	border-radius: 20px;
	position: absolute;
	bottom: 15%;
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.choice {
	width: 100px;
	cursor: pointer;
}
.choice img {
	width: 100%;
}
.board {
  margin-top: 100px;
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.board div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.board p {
	font-size: 22px;
	font-weight: 600;
}
@media(max-width: 500px) {
  .choices {
    bottom: -15%;
    flex-direction: column;
  }
}
@media(max-width: 800px) {
  .board {
    margin-top: 0;
    flex-direction: column;
  }
  .board .counter p {
    margin: 0;
  }
}
